# TeX temp files
*.aux
*.glo
*.idx
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.bib.bak
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.log
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Log files
*.log

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store
=======
